#app_nav{
    .nav {
        margin: 15px 10px 15px 10px;

        a {
            text-decoration: none;
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }

        .active{
            box-shadow: none;
            outline: none !important;
            border: none;
            background: transparent;
            color: black;
        }
    }
}
