#blog_default {

    // grid system
    display: grid;

    //navbar, content
    grid-template-rows: $navbarHeight auto $footerHeight;

    .wrapper{
        //grid system
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start:2;
        grid-row-end:3;

        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: stretch;
        padding: 50px;
    }

    .flex-item{
        flex:1;
        max-width: 500px;
        // min-width: 200px;
        min-height: 200px;
        background: #e7a61a;
        border-radius: 2px;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            box-shadow: 0 15px 29px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.22);
        }        
    }

}
