#blog_article{
    .active {
        margin-left: 0
    }

    .date {
        font-size: 15px;
        text-align: right;
        margin: $xs 0 ;
        color: #656565;
    }
    h1#title {
        text-align: center;
    }

    .article-inner {
        margin:0 auto;
        padding:0 $xxl;
        max-width: $articleMaxWidth;
    }

    .article-text {
        padding: $xl 0 ;
        min-height: 75vh;
    }
    
    a, a:hover {
        color: black;
    }
    ul{
        // overflow: auto; 
    }


}