#sidebar{

    //grid system
    grid-column: 1/2;
    grid-row: 1/4;

    position: fixed;
    width: $sidebarWidth;
    height: 100vh;
    // position: sticky;
    background-image: linear-gradient(180deg, #29323c 0%, #485563 100%);
    color: #fff;
    transition: all 0.3s; 
    overflow-x: hidden;
    overflow-y: auto;

    ul.components{
        padding:20px 0;
        border-bottom: 1px solid #404E66;
    }

    ul p{
        color: #fff;
        padding: 10px;
    }

    ul li a {
        padding: 13px 15px;
        font-size: 1.1em;
        display: block;
        font-weight: 300
    }

    ul li a:hover {
        color: black;
        background: #8EA4BF;
    }

    ul li.active a[aria-expanded="true"] {
        /*to replace hover effect for active and expanded element*/
        color: #fafafa;
    }

    ul ul a {
        /* a inside */
        font-size: 0.9em !important;
        padding-left: 30px !important;
    }


    li.active li.active a {
        color: black;
        background: #8EA4BF;
    }

    a.active {
        background: #D7DCE3;
    }
       

    // a[data-toggle='collapse'] {
        /* not sure if used */
        // position:relative;
    // }

    a[aria-expanded='false']::before, a[aria-expanded='true']::before {
        content: '\f063'; //arrow down
        display: block;
        position: absolute;
        right:20px;
        font-family: 'FontAwesome';
        font-size: 0.6em;
    }

    a[aria-expanded='true']::before {
        content: '\f062';
    }

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;  
    }

    #serarch_input{
        height: 100%;
        width: 100%;
    }

    #sidebar-header {
        height: $navbarHeight;
        padding: 20px 10px;
        border-bottom: 1px solid #404e66;
    }
}