@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "config/config.scss";

/* basic */
* {
    transition: all 0.3s; 
}


html{
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    min-height: 100vh;
}

body {
    font-family: 'Poppins', "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
    background-image: linear-gradient(to top, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}



//global
#app{

         overflow-wrap: break-word;

    .disable {
        display:hidden;
    }

    .content {
        display: flex;
        display: -webkit-flex;
        align-items:center;
        justify-content:center;
        padding-bottom: 40px;
    }

    p{
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5em;
        color: #3e3e3e;
    }

    hr {
        margin: 20px 0;
        border: 0;
        border-bottom: 1px #dadada solid; 
    }

    h2 {
        border-bottom: 1px solid #dadada;
    }

    h1, h2, h3, h4, h5, h6 {
        padding-top: $s;
        padding-bottom: $s;
        margin-bottom: $s;
    }

    img {
        display: block;
        height: auto;
        max-width: 100%;
        margin: auto;
    }

    code {
        color: white;
        background: #1b1818;
        font-size: 1.1em;
    }

    blockquote{
        margin:$xl 0;
        padding-left: $m;
        border-left: $xs solid #9a9a9a;
    }

    pre {
        overflow: auto;
        color: white;
        background: #1b1818;
        padding: $m;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }

    table th, table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #e9ecef;
    }

    table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e9ecef;
    }

    table tbody + tbody {
        border-top: 2px solid #e9ecef;
    }

    table tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .search_value {
        color: red;
        background: yellow;
    }
        
    /* desktop */
    @media (min-width: $mobileWidth){
        #blog_article {
            margin-left: $sidebarWidth;
            padding: $xl 0;
        }
        #toggleButton {
            display: none; /*hide toggle button */
        }
    } 
    
    /* for mobile */
    @media (max-width: $mobileWidth){
        #sidebar {
            display: none; /*hide sidebar*/
        }
        #sidebar.active {
            display: block; /*display when active*/
        }
        #blog_article {
            /*full width for article*/
            margin-left: 0;
            width: 100%;
        }
        #toggleButton {
            display: block; /*show toggle button*/
        }
    } 

}


@import "component/app_footer.scss";
@import "component/app_header.scss";
@import "component/app_nav.scss";
@import "component/blog.scss";
@import "component/blog_article.scss";
@import "component/me.scss";
@import "component/resume.scss";
@import "component/sidebar.scss";