#blog_article{

    //grid system, cloumn controled in media-query
    grid-row: 2/3;
    justify-self: stretch;
    align-self: start;
    margin-top: 10px;
    min-height: 70%;

    .date {
        font-size: 15px;
        text-align: right;
        margin: $xs 0 ;
        color: #656565;
    }

    h1#title {
        text-align: center;
    }

    .article-inner {
        margin:0 auto;
        padding:0 35px;
        max-width: $articleMaxWidth;
    }

    .article-text {
        padding: $xs 0 ;
    }

    .search_value {
        color: red;
        background: yellow;
    }
}