@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "config.scss";

/* basic */

html{
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
    background-image: linear-gradient(to top, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}


//global
#app{

    // grid system
    display: grid;
    //sidebar, content
    grid-template-columns: $sidebarWidth 1fr;
    //navbar, content
    grid-template-rows: $navbarHeight 1fr;
    //gap
    // grid-column-gap: 10px;
    // grid-row-gap: 10px;

    min-height: 100vh;
    justify-content: stretch;
    align-content: stretch;
    // align-items: stretch;
    overflow-wrap: break-word;

    #container {
        grid-column: 1/3;
        grid-row: 1/4;
        display: grid;
        justify-content: stretch;
        align-content: stretch;
    }


    a {
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }

    p{
        text-align: left;
        font-size: 1em;
        font-weight: 300;
        line-height: 1.5em;
        color: #3e3e3e;
    }

    hr {
        margin: 20px 0;
        border: 0;
        border-bottom: 1px #dadada solid; 
    }

    h2 {
        border-bottom: 1px solid #dadada;
    }

    h1, h2, h3, h4, h5, h6 {
        padding-top: $s;
        padding-bottom: $s;
        margin-bottom: $s;
    }

    img {
        display: block;
        padding: 1rem;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    code {
        color: white;
        background: #1b1818;
        font-size: 1.1em;
    }

    blockquote{
        margin: $xl 0;
        padding-left: $m;
        border-left: $xs solid #9a9a9a;
    }

    pre {
        overflow-wrap: normal;
        overflow: auto;
        color: white;
        background: #1b1818;
        padding: $m;
    }
        
    /* desktop */
    @media (min-width: $mobileWidth){
        #blog_article {
            // margin-left: $sidebarWidth;
            padding: $xl 0;
            grid-column: 2/3;
        }
        #toggleButton {
            display: none; /*hide toggle button */
        }
        #blog_default {
            .flex-item {
                min-width: 300px;
            }
        }
    } 
    
    /* for mobile */
    @media (max-width: $mobileWidth){
        #sidebar {
            display: none; /*hide sidebar*/
        }
        #sidebar.active {
            display: block; /*display when active*/
        }
        #blog_article {
            /*full width for article*/
            grid-column: 1/3;
        }
        #toggleButton {
            display: block; /*show toggle button*/
        }
        #blog_default {
            .flex-item {
                min-width: 200px;
            }
        }

    } 

}


@import "component/app_footer.scss";
@import "component/app_nav.scss";
@import "component/blog.scss";
@import "component/blog_article.scss";
@import "component/me.scss";
@import "component/resume.scss";
@import "component/sidebar.scss";
@import "component/blog_default.scss";